/* Lists of stories */

.stories-list {
  margin: 20px 5px;
}

.stories-list > li {
  color: gray;
  font-size: 0.8rem;
  margin: 10px 0;
}

#stories-loading-msg {
  font-weight: bold;
  font-size: 150%;
  margin: 20px 30px;
}


/* Individual stories */

.story-link {
  color: black;
  font-size: 0.85rem;
  font-weight: normal;
  margin: 18px 0;
}

.story-link:hover {
  text-decoration: none;
}

.story-author {
  margin-left: 2em;
}

.story-user {
  display: block;
}

.story-favorited{
  background-color: rgb(255, 166, 0, 0.15);
  outline: 1px solid rgb(255,166,0,0.65);
}

.favorite-icon{
  padding: 5px;
  cursor:pointer;
}

.favorite-icon:hover{
  outline: 1px solid rgba(245, 151, 37, 0.7);
  background-color: #ecec0e50
}

.favorite-icon-noHover{
  padding: 5px;
  cursor: pointer;
}

.del, .edit{
  cursor:pointer;
}

.del:hover, .edit:hover{
  color: rgb(45, 45, 45);
}